html {
  margin: none;
  padding: none;
  overflow-x: hidden
}

body {
  margin: none;
  padding: none;
}

header {
  background-color: #e70606;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.one984 {
  font-family: "Shadows Into Light";
  fill: white;
  font-size: 3rem;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.row-container > div {
  background-color: aqua;
  width: calc(100vw / 4);
  height: 15em;
  padding: 10px;
  margin: 0.5em;
  margin-top: 1em;
}

.element1 {
  margin-left: 1em;
}

.element2 { 
  margin-right: 1em;
}