html {
  margin: none;
  padding: none;
  overflow-x: hidden
}

body {
  width: 100vw;
  font-family: "Cal Sans", sans-serif;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

main {
  justify-content: center;
}

header {
  background-color: #e70606;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.svg_lettering {
  font-family: "Shadows Into Light";
  fill: white;
  font-size: 3rem;
}

.author {
  font-size: 1em;
  font-family: "Cal Sans", monospace;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  padding-right: 1em;
  width: 100%;
  text-align: right;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.biographies {
  display: flex;
  flex-direction: row;
  margin: 1em;
}


.biographies > div {
  background-color: #4a4d52;
  color: white;
  width: calc(100% / 4);
  padding: 15px;
  height: 20em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.bio1 {
  margin-left: 0em !important;
}

.bio4 { 
  margin-right: 0em !important;
}

.video {
  width: fit-content;
  height: fit-content;
  margin: auto !important;
  display: flex;
  flex-direction: row;
}

.video_desc {
  background-color: #e70606;
  width: 20em;
  color: white;
  padding: 20px;
}

.deepdive2 {
  background-color: cyan;
  margin: 1em;
  height: fit-content;
  padding: 20px;
}