html {
  overflow-x: hidden
}

body {
  font-family: "Cal Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

main {
  max-width: max-content;
  margin: 1em;
}

header {
  background-color: #e70606;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 100vw;
}

.svg_lettering {
  font-family: "Shadows Into Light";
  fill: white;
  font-size: 3rem;
}

.author {
  font-size: 1em;
  font-family: "Cal Sans", monospace;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  padding-right: 1em;
  width: 100%;
  text-align: right;
}

main {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

.biographies {
  display: flex;
  flex-direction: row;
}

.biographies > div {
  background-color: #4a4d52;
  color: white;
  width: calc(100% / 4);
  padding: 15px;
  height: 20em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-family: "Cal Sans";
}

.bio1 {
  margin-left: 0em !important;
}

.bio4 { 
  margin-right: 0em !important;
}

.video {
  height: 30em;
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-top: 1em ;
  width: 100%;
}

.video_desc {
  background-color: #e70606;
  color: white;
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
  height: 30em;
  text-indent: 30px;
}

.skibidi-link {
  color: #ffffff;
  text-decoration: none;
  padding: 0.2rem;
  border: 2px dashed #ffffff;
  border-radius: 10px;
  transition: color 0.2s ease-in-out;
}

a.skibidi-link:hover {
  color: #7abaff;
  border: 2px solid #7abaff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.comparison_accordion {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.comparison_accordion > div > h1 {
  background-color: #e70606;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}

.accordion {
  background-color: #4a4d52;
  font-size: 16pt;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #83868b;
  color: white;
  border: none;
  outline: none;
}

.panel {
  padding: 18px;
  padding-top: 30px;
  background-color: white;
  color: black;
  overflow: hidden;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
  width: 100%;
}

.panel > p {
  padding-top: 20px;
}

.accordion:after {
  color: white !important;
  content: '\02795';
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  color: white !important;
  content: "\2796";
}

.container {
  width: 200px;
  height: 200px;
  perspective: 500px;
  margin: 100px;
}

footer {
  background-color: #e70606;
  color: white;
  width: 100vw;
  height: fit-content;
  margin: 0;
}

.footer_wrapper {
  margin: 1em;
}

footer > p {
  padding: 5px;
  margin: 0;
}

/* Cube styles */

.cube {
  margin: auto;
  margin-right: 60px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: turn 10s linear infinite;
}

.face {
  width: 100px;
  height: 100px;
  background: darkorange;
  border: 2px solid black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

.front {
  transform: translateZ(50px);
  font-size: 12px;
}

.back {
  transform: translateZ(-50px) rotateY(180deg);
}

.left {
  transform: translateX(-50px) rotateY(-90deg);
}

.right {
  transform: translateX(50px) rotateY(90deg);
}

.top {
  transform: translateY(-50px) rotateX(90deg);
}

.bottom {
  transform: translateY(50px) rotateX(-90deg);
}

@keyframes turn {
  from { transform: rotate3d(0, 0, 0, 0); }
  to { transform: rotate3d(2, 3, 0, 360deg); }
}

@media (prefers-reduced-motion: reduce) {
  .cube {
    animation: none;
    transform: rotate3d(1, 1, 0, 45deg);
  }
}